@import "tailwindcss";

body {
  background:
    radial-gradient(ellipse at top, #0a2540 0%, transparent 50%),
    radial-gradient(ellipse at bottom, #001a33 0%, transparent 50%),
    linear-gradient(180deg, #003153 0%, #001f3f 50%, #00111a 100%);
  min-height: 100vh;
}

